<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JHFC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <menu>
        <ul>
            <li><a asp-action="Index">Home</a></li>
            <li><a asp-action="MyPodcast">MyPodcast</a></li>
            <li><a asp-action="AddMovie">Add Movie</a></li>
            <li><a asp-action="ViewMovies">View Movies</a></li>
        </ul>
    </menu>

    @RenderBody()

    <footer>Copyright 2021</footer>
</body>

</html>
