<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JHFC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Joel Hilton Movie Collection</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="MyPodcast">My Podcast</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movies" asp-action="Create">Add a Movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Movies" asp-action="Index">View Movies</a>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>

    <div class="ml-3">@RenderBody()</div>

    <br />
    <hr />
    <footer class="text-center">Copyright 2021</footer>
    @RenderSection("Scripts", required: false)
</body>

</html>
